<form *ngIf="showAddAppointment" (ngSubmit)="onSubmit()" class="add-form">
  <div class="form-control">
    <label for="text">Appointment</label>
    <input class="form-control" [(ngModel)]="text" type="text" name="text" id="text" placeholder="Add Appointment">
  </div>
  <div class="form-control">
    <label for="day">Day & Time</label>
    <input class="form-control" [(ngModel)]="day" type="text" name="day" id="day" placeholder="Add Day & Time">
  </div>
  <div class="form-control form-control-check">
    <label for="reminder">Set Reminder</label>
    <input class="form-control" [(ngModel)]="reminder" type="checkbox" name="reminder" id="reminder">
  </div>
  <input class="form-control" type="submit" value="Save Appointment" class="btn btn-block">
</form>
